In [1]:
def fun():
    print "this is fun"
class Emp:
    print "this is class"

this is class

In [3]:
def fun():
    a=10
    b=20
class Emp:
    a1=1000
    b1=2000

In [4]:
def fun():
    a=10
    b=20
class Emp:
    a1=1000
    b1=2000
fun()
print "How many references are then in the stack now?"
print "ans:"
print "End"

How many references are then in the stack now?
ans:
End

In [5]:
class Emp:
    name="anil"
    age=23
    print name
    print age

anil
23

In [6]:
class Emp:
    name="anil"
    age=23
print Emp.name
print Emp.age

anil
23

In [7]:
name="Ajay"
class Emp:
    name="anil"
print "name=",name
print "Emp.name=",Emp.name

name= Ajay
Emp.name= anil

In [8]:
class Emp:
    name="anil"
class Product:
    name="apple"
print Emp.name
print Product.name

anil
apple

In [9]:
class Emp:
    name="anil"
    def empfun(a,b):
        print a,b
print Emp.name
Emp.empfun(100,200)

anil

TypeError: unbound method empfun() must be called with Emp instance as first argument (got int instance instead)

In [10]:
class Emp:
    name="anil"
    def empfun(a,b):
        print a,b
print Emp.name
inst1 = Emp() 
Emp.empfun(100,200)

anil

TypeError: unbound method empfun() must be called with Emp instance as first argument (got int instance instead)

In [13]:
class Emp:
    name="anil"
    def empfun(a,b):
        print "a=",a
        print "b=",b
print Emp.name
inst1 = Emp() 
Emp.empfun(inst1,200)

anil
a= <__main__.Emp instance at 0x7ffae85dd440>
b= 200

In [1]:
print "Happy independance day all of you.."

Happy independance day all of you..

In [2]:
class Emp:
    name="anil"
    def empfun(a,b):
        print "a=",a
        print "b=",b
print Emp.name
inst1 = Emp() 
Emp.empfun(inst1,200)

anil
a= <__main__.Emp instance at 0x7fb558bd23f8>
b= 200

In [3]:
class Emp:
    name="anil"
    def empfun(a,b):
        print "a=",a
        print "b=",b
print Emp.name
inst1 = Emp() 
Emp.empfun(inst1,200)
print inst1.name

anil
a= <__main__.Emp instance at 0x7fb558bd2680>
b= 200
anil

In [5]:
class Emp:
    name="anil"
    def empfun(a,b):
        print "a=",a
        print "b=",b
print Emp.name
inst1 = Emp() 
Emp.empfun(inst1,200)
print inst1.name
inst1.empfun(2000)

anil
a= <__main__.Emp instance at 0x7fb558bd29e0>
b= 200
anil
a= <__main__.Emp instance at 0x7fb558bd29e0>
b= 2000

In [7]:
class c1:
    def fun(a,b):
        print a
        print b
o1=c1()
c1.fun(o1,20)
o1.fun(2000)
c1().fun(3000)

<__main__.c1 instance at 0x7fb558bd2dd0>
20
<__main__.c1 instance at 0x7fb558bd2dd0>
2000
<__main__.c1 instance at 0x7fb558bd2830>
3000

In [9]:
class c1:
    name="anil"
    def fun(a,b):
        print a
        print b
o1=c1()
o1.fun(2000)
print c1.name
print o1.name

<__main__.c1 instance at 0x7fb558bdcb48>
2000
anil
anil

In [10]:
class c1:
    name="anil"
    def fun(a,b):
        print a
        print b
o1=c1()
o1.fun(2000)
print c1.name
print o1.name
o1.age=23
o1.height=5.6
print o1.name
print o1.age
print o1.height

<__main__.c1 instance at 0x7fb558bf21b8>
2000
anil
anil
anil
23
5.6

In [11]:
class c1:
    name="anil"
    def fun(a,b):
        print a
        print b
o1=c1()
o1.fun(2000)
print c1.name
print o1.name
o1.age=23
o1.height=5.6
print o1.name
print o1.age
print o1.height
print c1.age

<__main__.c1 instance at 0x7fb558bf2440>
2000
anil
anil
anil
23
5.6

AttributeError: class c1 has no attribute 'age'

In [12]:
def leavecalculation(emp_data):
    pass
def sal_cal(emp):
    pass
def tax_cal(emp):
    pass
def pfcal(emp):
    pass

In [14]:
class Employee:
    company_name="KHYAATHI"
    company_address="maithrivanam, hyderabad, TS, India"
emp1 = Employee()
emp1.name="emp1"
emp1.id=2
emp1.sal=2345678
emp2= Employee()
emp2.name="emp2"
emp2.id=3
print emp2.id
print emp2.name
print emp2.sal

3
emp2

AttributeError: Employee instance has no attribute 'sal'

In [15]:
class Employee:
    company_name="KHYAATHI"
    company_address="maithrivanam, hyderabad, TS, India"
emp1 = Employee()
emp1.name="emp1"
emp1.id=2
emp1.sal=2345678
emp2= Employee()
emp2.name="emp2"
emp2.id=3
print emp2.id
print emp2.name
print emp2.company_address
print emp2.company_name

3
emp2
maithrivanam, hyderabad, TS, India
KHYAATHI

In [18]:
class Employee:
    company_name="KHYAATHI"
    company_address="maithrivanam, hyderabad, TS, India"
    def set_data(var1,e_name,e_age,e_height,e_passport="",e_cell="",e_pan=""):
        var1.name=e_name
        
emp1 = Employee()
#Employee.set_data(emp1,"anil",23,5.6,e_cell=9676622023)
emp1.set_data("anil",23,5.6,e_cell=9676622023)
# emp1.name="anil"
print emp1.name

print emp1.name

anil
anil

In [22]:
class Employee:
    company_name="KHYAATHI"
    company_address="maithrivanam, hyderabad, TS, India"
    def set_data(self,e_name,e_age,e_height,e_passport="",e_cell="",e_pan=""):
        self.name=e_name
        self.age=e_age
        self.hight=e_height
        self.passport=e_passport
        self.cell=e_cell
        self.pan=e_pan

        
        
emp1 = Employee()
emp1.set_data("anil",23,5.6,e_cell=9676622023)
print emp1.name
print emp1.pan

anil

In [23]:
class Employee:
    company_name="KHYAATHI"
    company_address="maithrivanam, hyderabad, TS, India"
    def set_data(self,e_name,e_age,e_height,e_passport="",e_cell="",e_pan=""):
        self.name=e_name
        self.age=e_age
        self.hight=e_height
        self.passport=e_passport
        self.cell=e_cell
        self.pan=e_pan

        
        
emp1 = Employee()
Employee.set_data(emp1,"anil",23,5.6,e_cell=9676622023)
#emp1.set_data("anil",23,5.6,e_cell=9676622023)
print emp1.name
print emp1.pan

anil

In [ ]:
class Employee:
    def set_data(self,e_name):
        self.name=e_name
emp1=Employee()
emp1.set_data("anil")
emp2=Employee()
emp2.set_data("ajay")